In [1]:
import pandas as pd

In [5]:
df_2017_06 = pd.read_csv("CityBike/201706-citibike-tripdata.csv")

In [7]:
df_2017_07 = pd.read_csv("CityBike/201707-citibike-tripdata.csv")
df_2017_08 = pd.read_csv("CityBike/201708-citibike-tripdata.csv")

In [8]:
df_2017_summer = pd.concat([df_2017_06,df_2017_07,df_2017_08])
df_2017_summer.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1397,2017-06-01 00:00:02,2017-06-01 00:23:19,515,W 43 St & 10 Ave,40.760094,-73.994618,3285,W 87 St & Amsterdam Ave,40.788390,-73.974700,26642,Subscriber,1967.0,1
1,1103,2017-06-01 00:00:13,2017-06-01 00:18:37,488,W 39 St & 9 Ave,40.756458,-73.993722,297,E 15 St & 3 Ave,40.734232,-73.986923,25656,Subscriber,1981.0,1
2,1810,2017-06-01 00:00:20,2017-06-01 00:30:31,461,E 20 St & 2 Ave,40.735877,-73.982050,465,Broadway & W 41 St,40.755136,-73.986580,21023,Subscriber,1982.0,1
3,1760,2017-06-01 00:00:24,2017-06-01 00:29:45,2009,Catherine St & Monroe St,40.711174,-73.996826,527,E 33 St & 2 Ave,40.744023,-73.976056,25718,Subscriber,1973.0,2
4,2165,2017-06-01 00:00:33,2017-06-01 00:36:38,360,William St & Pine St,40.707179,-74.008873,474,5 Ave & E 29 St,40.745168,-73.986831,18691,Subscriber,1985.0,1

In [9]:
len(df_2017_summer)

5283691

In [12]:
df_2017_summer.to_csv("Munipulated/Summer_2017.csv",index=False)

In [14]:
df_2018_06 = pd.read_csv("CityBike/201806-citibike-tripdata.csv")
df_2018_07 = pd.read_csv("CityBike/201807-citibike-tripdata.csv")
df_2018_08 = pd.read_csv("CityBike/201808-citibike-tripdata.csv")
df_2018_summer = pd.concat([df_2018_06,df_2018_07,df_2018_08])
df_2018_summer.to_csv("Munipulated/Summer_2018.csv",index=False)

In [15]:
df_2019_06 = pd.read_csv("CityBike/201906-citibike-tripdata.csv")
df_2019_07 = pd.read_csv("CityBike/201907-citibike-tripdata.csv")
df_2019_08 = pd.read_csv("CityBike/201908-citibike-tripdata.csv")
df_2019_summer = pd.concat([df_2019_06,df_2019_07,df_2019_08])
df_2019_summer.to_csv("Munipulated/Summer_2019.csv",index=False)

In [2]:
#2019 first quarter
df_2019_01 = pd.read_csv("CityBike/201901-citibike-tripdata.csv")
df_2019_02 = pd.read_csv("CityBike/201902-citibike-tripdata.csv")
df_2019_03 = pd.read_csv("CityBike/201903-citibike-tripdata.csv")
df_2019_1st = pd.concat([df_2019_01,df_2019_02,df_2019_03])
df_2019_1st.to_csv("Munipulated/2019_1st_quarter.csv",index=False)

In [3]:
#2019 second quarter
df_2019_04 = pd.read_csv("CityBike/201904-citibike-tripdata.csv")
df_2019_05 = pd.read_csv("CityBike/201905-citibike-tripdata.csv")
df_2019_06 = pd.read_csv("CityBike/201906-citibike-tripdata.csv")
df_2019_2nd = pd.concat([df_2019_04,df_2019_04,df_2019_06])
df_2019_2nd.to_csv("Munipulated/2019_2nd_quarter.csv",index=False)

In [4]:
#2019 third quarter
df_2019_07 = pd.read_csv("CityBike/201907-citibike-tripdata.csv")
df_2019_08 = pd.read_csv("CityBike/201908-citibike-tripdata.csv")
df_2019_09 = pd.read_csv("CityBike/201909-citibike-tripdata.csv")
df_2019_3rd = pd.concat([df_2019_07,df_2019_08,df_2019_09])
df_2019_3rd.to_csv("Munipulated/2019_3rd_quarter.csv",index=False)

In [5]:
#2019 forth quarter
df_2019_10 = pd.read_csv("CityBike/201910-citibike-tripdata.csv")
df_2019_11 = pd.read_csv("CityBike/201911-citibike-tripdata.csv")
df_2019_12 = pd.read_csv("CityBike/201912-citibike-tripdata.csv")
df_2019_4th = pd.concat([df_2019_10,df_2019_11,df_2019_12])
df_2019_4th.to_csv("Munipulated/2019_4th_quarter.csv",index=False)